
.banner-container{
    background-image: url('../../src/assets/images/parcel-delivery-1.svg'), url('../../src/assets/images/parcel-delivery-2.svg');
    background-position: right bottom -90px, bottom -20px center;
    background-repeat: no-repeat, no-repeat;
    background-size: auto 80%, auto 40%;
}

@media screen and (max-width: 1280px) {
    .banner-container{
        background-image: url('../../src/assets/images/parcel-delivery-1.svg'), url('../../src/assets/images/parcel-delivery-2.svg');
        background-position: right bottom -150px, bottom -30px left;
        background-repeat: no-repeat, no-repeat;
        background-size: auto 70%, auto 30%;
    }
}

@media screen and (max-width: 700px) {
    .banner-container{
        background-image: url('../../src/assets/images/parcel-delivery-1.svg'), url('../../src/assets/images/parcel-delivery-2.svg');
        background-position: right bottom -50px, bottom -20px left;
        background-repeat: no-repeat, no-repeat;
        background-size: auto 40%, auto 20%;
    }
}